*{
margin:0;
padding:0;
}

.cabecalho {
    padding: 10px 15px;
}

.cartao {
    width: 60px;
    height: 20px;
}

.cartao-frente, .cartao-verso {
    width: 100%;
}

.cartao-imagem {
    width: 100%;
}