*{
margin:0;
padding:0;
}

.cabecalho {
    padding: 30px 45px;
}

.cartao {
    width: 200px;
    height: 230px;
}

.cartao-frente, .cartao-verso {
    width: 100%;
}

.cartao-imagem {
    width: 100%;
}